# Issue登録時にGithub Projectに登録する。
name: Move new issues into 4taku project.
on:
  issues:
    types: [opened]

jobs:
  automate-project-columns:
    runs-on: ubuntu-latest
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: 4taku
          column: To do
          repo-token: ${{ secrets.AUTOMATE_PROJECT_COLUMNS_TOKEN }}
